article {
  background-color: white;
  height: 100%;
  padding: 50px 30px;
}
main .mainArticle {
  .mainArticleHeader {
    font-weight: bold;
    font-size: 30px;
  }
  & p {
    padding: 10px 0;
  }
}
