.sliderImg {
  display: none;
}

.slider {
  .sliderHeader {
    text-transform: uppercase;
    margin: 40px 0 10px 0;
    font-weight: bold;
  }
  .sliderImg {
    position: relative;
    width: 100%;
    height: 270px;
    text-align: right;
    border: 1px solid #c8cfd5;
    -webkit-box-shadow: 0px 0px 1px 1px rgba(209,201,209,1);
    -moz-box-shadow: 0px 0px 1px 1px rgba(209,201,209,1);
    box-shadow: 0px 0px 1px 1px rgba(209,201,209,1);
    & img {
      height: 100%;
    }
    .sliderDescription {
      opacity: 0;
      transition: opacity 0.4s;
      background-color: rgba(0,0,0,0.8);
      color: white;
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 8px 20px;
      text-align: left;
      & .sliderName {
        font-weight: bold;
      }
      & .sliderPosition {
        text-transform: uppercase;
      }
    }
  }
  .sliderImg:hover .sliderDescription {
    opacity: 1;
    transition: opacity 0.4s;
  }
  .sliderImages {
    background: #9d9e9e;
    background: -moz-linear-gradient(top, #9d9e9e 0%, #9f9f9f 8%, #aaabaa 25%, #c7c7c6 59%, #d3d3d3 77%, #d5d5d5 83%, #d5d5d5 100%);
    background: -webkit-linear-gradient(top, #9d9e9e 0%, #9f9f9f 8%, #aaabaa 25%, #c7c7c6 59%, #d3d3d3 77%, #d5d5d5 83%, #d5d5d5 100%);
    background: linear-gradient(to bottom, #9d9e9e 0%, #9f9f9f 8%, #aaabaa 25%, #c7c7c6 59%, #d3d3d3 77%, #d5d5d5 83%, #d5d5d5 100%);
// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9d9e9e', endColorstr='#d5d5d5',GradientType=0 );
    display: flex;
    justify-content: space-between;
    border: 2px solid white;
    -webkit-box-shadow: 0px 0px 2px 1px rgba(209,201,209,1);
    -moz-box-shadow: 0px 0px 2px 1px rgba(209,201,209,1);
    box-shadow: 0px 0px 2px 1px rgba(209,201,209,1);
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  .btn {
    background-color: transparent;
    &:hover {
      background-color: $first-color;
    }
  }
  .indicator {
    opacity: 0.5;
  }
  .sliderMiniature.opacityOff .indicator{
    opacity: 1;
  }
}
.mySlides {
  display:none
}
.demo {
  cursor:pointer
}

.sliderMiniatures {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 420px;
  padding: 20px 0;
  height: 110px;
  overflow: hidden;
}
.sliderMiniature {
  width: 60px;
  height: 60px;
  overflow: hidden;
  margin: 10px 5px;
  border: 2px solid transparent;
  & img {
    height: 60px;
    object-fit: fill;
  }
}
.sliderMiniature.opacityOff,
.sliderMiniature:hover {
  border: 2px solid $first-color;
}
.sliderMiniature.hide {
  display: none;
}
.btn.notActive {
  opacity: 0.3;
}
.btn.notActive:hover {
  background-color: transparent;
}
